@import "./variables.scss";

.App {
    background-color: #1a1a1a1a;
    height: 100vh;
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: #5BB318;
    margin: 0px;
    overflow: hidden;

    & h1 {
        font-size: 32px;
        font-weight: bold;

        border-radius: 5px;
        margin: 20px;
        padding-left: 80px;
        text-align: end;
        width: $pixel-size * 50 + 40px;
        letter-spacing: calc(($pixel-size * 50)/4);
        margin-top: 0px;

    }

    & .game {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}