@import "../../../styles/_variables.scss";

.tile {
    position: absolute;
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: $pixel-size * 12.5;
    height: $pixel-size * 12.5;
    margin: $pixel-size *.5;
    border-radius: $pixel-size * 0.5;
    background-color: #eee4da;
    color: #776e65;
    font-weight: bold;
    text-align: center;
    //font-size: $pixel-size * 6;
    line-height: 2.1;
    transition-property: left, top, transform;
    transition-duration: 250ms, 250ms, 100ms;
    transform: scale(1);

    &-128,
    &-256,
    &-512 {
        font-size: $pixel-size * 5.5;
        line-height: 2.28;
    }

    &-1024,
    &-2048 {
        font-size: $pixel-size * 4;
        line-height: 3.18;
    }

    /* -=-=-=-= END OF TEXT SIZE =-=-=-=- */

    &-2 {
        background: #F900BF;
        color: #fff;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
            inset 0 0 0 1px rgba(255, 255, 255, 0);
    }

    &-4 {
        background: #9900F0;
        color: #fff;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
            inset 0 0 0 1px rgba(255, 255, 255, 0);
    }

    &-8 {
        color: #f9f6f2;
        background: #0c6d7f;
    }

    &-16 {
        color: #f9f6f2;
        background: #00FAAC;
    }

    &-32 {
        color: #f9f6f2;
        background: #85EF47;
    }

    &-64 {
        color: #f9f6f2;
        background: #00BD56;
    }

    &-128 {
        color: #f9f6f2;
        background: #5EE6EB;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381),
            inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    }

    &-256 {
        color: #f9f6f2;
        background: #F7EC09;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
            inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    }

    &-512 {
        color: #f9f6f2;
        background: #FFD36E;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
            inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    }

    &-1024 {
        color: #f9f6f2;
        background: #FEB139;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
            inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    }

    &-2048 {
        color: #f9f6f2;
        background: #FF8D29;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556),
            inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    }
}